* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */

header {
    background: #404EED;
    

}
/* header {
    
} */

.para {
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: fit-content;
    margin-left: 15%;
    margin-bottom: 2rem;
}

h1 {
    font-family: sans-serif;
    color: white;
    font-size: 5em;
    font-weight: 600;
    justify-content: center;
    text-align: center;
}

.para p{
    font-size: 2em;
    color: white;
}

header .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.button2 .first {
    padding: 1rem;
    background-color: white;
    border-radius: 5rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 2rem;
}

.button2 .first:hover {
    color:#5865F2;
    transition: all .2s;
}

/* .first img {
    
}
 */
.button2 .second {
    padding: 1rem;
    background-color: black;
    color: white;
    border-radius: 5rem;
    font-size: 1rem;
    border: none;
    margin-bottom: 2rem;
}

.backimg {
    display: flex;
    justify-content: space-between;
    flex-flow:row wrap ;
    
}

.backimg-left {
    margin-left: -2rem;
    margin-top: -2rem;
   
}
.backimg-right {
    margin-left: -2rem;
    margin-top: -2rem;
}
header nav
{
    display:flex;
    justify-content:center;
    gap:2rem;
    padding-top: 2rem;
    background:#404EED;
    width:100vw;
    height:auto;
}
/* header nav .icon img
{

} */
header nav .ul ul
{
    display:flex;
    list-style: none;
    gap: 2rem;
    color: white;
    padding-top: 0.7rem;
    font-weight: 600;
    font-size: 1em;
    transition: all .2s;
    font-family: Ggsans,sans-serif;
    flex-flow: row wrap;
}
header nav .ul ul a
{ 
    text-decoration:none;
    color: white;
}
header nav .ul ul a:hover
{ 
    text-decoration:underline;
}

header nav .button button
{
background-color: white;
color: black;
border: none;
border-radius:1.5em;
padding: 0.4rem;
font-weight: 600;
transition: all .2s;
font-family: Ggsans,sans-serif;
}
header nav .button button:hover{
    color:#5865F2;
    transition: all .2s;
}

/* main */
.container.hero{
    background: #ffffff;
    padding: 120px 0px 130px;
}
.container.image{
    display: flex;
    justify-content:center;
    align-items:center ;
    flex-flow:row wrap;
}
.container.image h3{
    color: #23272A;
    font: 48px Ggsans, sans-serif;
}

.container.image p{
    color: #23272A;
    font: 20px Ggsans, san-serif;
    margin: 24px 0px 0px;
   
}
.second.hero{
    background: #f6f6f6;
    padding: 120px 0px;
    

}

.second.section.image{
    display: flex;
    justify-content:center;
    align-items:center ;
    flex-flow:row wrap;
}

.second.section h3{
    color: #23272A;
    font: 48px Ggsans, sans-serif;
    

}
.second.section p{
    color: #23272A;
    font: 20px Ggsans, san-serif;
    margin: 24px 0px 0px;
    
}
.third.section.hero{
    background: #ffffff;
    padding: 120px 0px 130px;
}

.third.section.image{
    display: flex;
    justify-content:center;
    align-items:center ;
    flex-flow:row wrap;
}
.third.section h3{
    color: #23272A;
    font: 48px Ggsans, sans-serif;
}
.third.section p{
    color: #23272A;
    font: 20px Ggsans, san-serif;
    margin: 24px 0px 0px;
}
.fourth.hero{
    background: #f6f6f6;
    padding: 120px 0px 130px;
    display: flex;
    justify-content: center;
   text-align: center;

}
.fourth.hero h3{
    color: #23272A;
    font: 40px "Abcgintonord 800", sans-serif;
    margin: 0px 0px 24px;

}
.fourth.hero p{
    color: #23272A;
    font: 20px Ggsans, sans-serif;
    padding: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.fourth.image{
    background: #f6f6f6;
    padding: 0px 0px 130px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-flow:row wrap;
}
.star{
    background: #f6f6f6;
    justify-content: center;
    text-align: center;
    margin: -77px -36px 0px 0px;
}

.star h3{
    padding: 15px;
}


.btn{
    font: 20px Ggsans, sans-serif;
    border-radius: 60px;
    color: #ffffff;
    background: #5865f2;
    padding: 14px 32px 14px 66px;
    
    margin-bottom: 5rem;
}

.btn:hover {
    background-color: RoyalBlue;
}
/* footer */
footer {
    width: 100%;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
    text-align: center;
}

footer > *{
    width: 100%;
    display: flex;
    align-items: center;
}

footer .footer-container-top{
    justify-content: space-around;
}
footer .footer-container-middle{
    justify-content: space-between;
    
}
footer .footer-container-end{
flex-flow: column;
    justify-content: center;
}

footer h6 {
    font-size: 1rem;
}

footer .left {

/*border-top: 1px solid white ;
border-left: 1px solid white;*/

margin: 5rem auto;
width: 500px;
height: 200px;
display: flex;
flex-direction: column;
/*justify-content: left;
font-size: smaller;*/

}

footer .center-left {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    
    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .center-right {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    
    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .right {

    /*border-top: 1px solid white ;
    border-left: 1px solid white;*/
    
    margin: 5rem auto;
    width: 500px;
    height: 200px;
    display: flex;
    flex-direction: column;
    /*justify-content: left;
    font-size: smaller;*/
}

footer .author {
    display: flex;
    flex-direction: column;
    
}


footer ul {
color: rgb(243, 241, 241); /* add a contrasting color to make the links visible */
  text-decoration: none; /* remove underlines */
  padding: 0.5em; /* add padding to create space around the links */
  font-size: smaller;
}

footer li {
    margin: 1rem 2rem 1rem 2rem; 
    display: flex;
    justify-content: left;
    align-content: left;
    align-items: left;
    padding: 0.2rem;

}

footer a {
   color: white;
   flex-direction: column;
   text-decoration: none;
   padding: o.5em;
}

footer .DownLine {

    flex-wrap: nowrap, wrap, wrap-reverse;
}

footer .footer-container-end hr{
    width: 80%;
    margin: 0 auto;
    height: 1px;
    color: blue;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: rgb(108, 108, 164);
}

@media only screen and (max-width: 380px) {
   .fourth.image {
     width: 400px;
    }
  }
